<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <!--C:\Users\DELL\source\repos\BBGCombination.Domain\EmailTemplate\TermLoan-->
    <add key="EmailFrom" value="tella.adesina@fcmb.com"/>
    <add key="DisplayName" value="FCMB"/>
    <add key="MailSubject" value="BBG Combination"/>
    <add key="EmailTo" value="telladesina100@gmail.com"/>
    <add key="SMTPURLLive" value="http://172.27.12.123/UserManagerService/UserUtilityService.asmx"/>
    <add key="SMTPURLTest" value="http://172.27.15.103/UserManagerServiceTest/UserUtilityService.asmx"/>
    <add key="EmailServer" value="172.27.15.18"/>
    <!--<add key="EmailRecepient" value="telladesina100@gmail.com"/>-->
    <add key="EmailRecepient" value="tella.adesina@fcmb.com, ngozi.arusiaka@fcmb.com, uche.esenwa@fcmb.com, oyenmwen.egbufor@fcmb.com, Businessbankinggroupasset@fcmb.com"/>
    <!--<add key="EmailRecepient" value="Businessbankinggroupasset@fcmb.com, ngozi.arusiaka@fcmb.com, femi.akintayo@fcmb.com"/>-->
    <add key="EmailRecepientCC" value="tella.adesina100@gmail.com"/>
    <add key="EmailTitle" value="FCMB"/>

    <add key="EmailBcc" value="tella.adesina@fcmb.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <!--<add name="FinacleCodeContext" connectionString="Data Source=172.27.10.187:1521/sitfcmb;User Id=custom;Password=custom;"
      providerName="Oracle.DataAccess.Client"/>-->
    <add name="FinacleCodeContext" connectionString="Data Source=172.27.12.100:1521/FCMBREP;User Id=ssoadm;Password=ssoadm;" providerName="Oracle.DataAccess.Client" />
    <add name="BBGLoanCombinationContext" connectionString="Data source=172.27.15.103; Initial Catalog=BBGCombinationDB; user=dev; password=developers@456;"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>